<!doctype html>
<html>
<head>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>PreTest Build Reports</title>

<style>
table.reports {
  white-space: nowrap;
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
}
table.reports tr:nth-child(2n) {
background: #F0F0F0;
}
table.reports th {
  text-align: left;
}
table.reports tr:hover {
  background: #FFCCee;
}
table.reports tr td {
  padding-right: 1em;
}

div.status_ok {
  background-color: #00FF00;
}
div.status_notok {
  background-color: #FF0000;
}

a.build {
  text-decoration: none;
}

</style>

</head>

<body>

<h1>Pretest Build Report for {{ basename }}</h1>

<br/>

<table class="reports">
 <thead>
 <tr>
   <th>System</th>
   <th>Status</th>
   <th>Time</th>
 </tr>
 </thead>
 <tbody>
{% for r in builds %}
<tr>
  <td>
    <a href="{{url_for("details",id=r.id) }}">
      {{ r.system_id }}
    </a>
  </td>

  <td>
    <div class="{% if r.status=="ok" %}status_ok{% else %}status_notok{% endif %}">
    {{ r.status }}
    </div>
  </td>

  <td>
    {{ r.time }}
  </td>

</tr>
{% endfor %}
</table>


<h3>Textual report</h3>

<pre>
No failures on the following:
{%- for r in builds -%}
{% if r.status == "ok" %}
  {{ r.system_id }}
{%- endif -%}
{%- endfor -%}

</pre>


</body>
</html>
