<!doctype html>
<html>
<head>
<title>PreTest Build Reports - Log tarball details</title>

<style>
table.tarfile {
  white-space: nowrap;
  /* border-collapse: collapse; */
}

table.tarfile tr td.filename {
  font-family: monospace;
}

table.tarfile tr:nth-child(2n) {
  /*background: #F0F0F0; */
}
table.tarfile th {
  text-align: left;
}
table.tarfile tr:hover {
  background: #F0F0F0;
}
table.tarfile tr td {
  padding-right: 1em;
  vertical-align: top;
}

pre {
  margin-top: 0;
  padding-top: 0;
  background-color: #F0F0F0;
}

</style>

</head>

<body>

<h1>Pretest Build Reports - Log tarball details</h1>

For more information, see <a href="http://pretest.nongnu.org">http://pretest.nongnu.org</a>.
<br/>

The <a href="http://git.savannah.gnu.org/cgit/pretest.git/tree/misc_scripts/pretest-auto-build-check">
pretest-auto-build-check</a> script keeps detailed logs of the build process,
archives them and uploads them to this server. Each tarball contains
the following files:
<br/>
<br/>
<br/>


<table class="tarfile">
 <thead>
 <tr>
   <th>File</th>
   <th>Details</th>
   <th>Example</th>
 </tr>
 </thead>
 <tbody>

<tr>
  <td class="filename">./logs/status</td>
  <td>The determined status of this build</td>
  <td>Possible values:
       <code>ok</code>,
       <code>configure failed</code>,
       <code>make failed</code>,
       <code>make-check failed</code>
  </td>
</tr>

<tr>
  <td class="filename">./logs/input.txt</td>
  <td>Information about the build</td>
  <td><pre>SOURCE=http://ftp.gnu.org/gnu/hello/hello-2.8.tar.gz
BASENAME=hello-2.8
configure_extra_params=
make_extra_params=
env_extra_params=
git_branch=</pre></td>
</tr>

<tr>
  <td class="filename">./logs/environment.txt</td>
  <td>Information about the build machine envrionment</td>
  <td><pre>PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games
SHELL=/bin/bash
PWD=/tmp/hello-2.8.8fCee9
hostname=deb-kfbsd7</pre></td>
</tr>

<tr>
  <td class="filename">./logs/versions.txt</td>
  <td>Information about the build machine kernel and programs</td>
  <td><pre>autoconf-version: autoconf (GNU Autoconf) 2.69
automake-version: automake (GNU automake) 1.11.6
autopoint-version: /usr/bin/autopoint (GNU gettext-tools) 0.18.1
autoreconf-version: autoreconf (GNU Autoconf) 2.69
make-version: GNU Make 3.81
makeinfo-version: makeinfo (GNU texinfo) 4.13
git-version: git version 1.7.10.4
wget-version: GNU Wget 1.13.4 built on kfreebsd-gnu.
rsync-version: rsync  version 3.0.9  protocol version 30
cc-version: gcc (Debian 4.7.2-5) 4.7.2
cc-version: cc (Debian 4.7.2-5) 4.7.2
uname-s: GNU/kFreeBSD
uname-r: 9.0-2-amd64
uname-m: x86_64
uname-p: amd64
uname-i: QEMU Virtual CPU version 2.0.0
uname-o: GNU/kFreeBSD
uname-v: #0 Wed Feb 25 13:42:52 UTC 2015
lsb_release-v:
lsb_release-i: Debian
lsb_release-d: Debian GNU/kFreeBSD 7.8 (wheezy)
lsb_release-r: 7.8
lsb_release-c: wheezy</pre></td>
</tr>

<tr>
  <td class="filename">./logs/configure.log</td>
  <td>output of <code>./configure</code> (stdout+stderr)</td>
  <td><pre>checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /bin/mkdir -p
checking for gawk... gawk
checking whether make sets $(MAKE)... yes
...</pre>
  </td>
</tr>

<tr>
  <td class="filename">./logs/configure.ok</td>
  <td>Empty file, only exists if <code>./configure</code> succeeded
      (returned exit code 0)</td>
  <td></td>
</tr>

<tr>
  <td class="filename">./logs/config.log</td>
  <td>Generated by <code>./configure</code></td>
  <td><pre>This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by GNU Hello configure 2.8, which was
generated by GNU Autoconf 2.68.  Invocation command line was

  $ ./configure

## --------- ##
## Platform. ##
## --------- ##
    ...</pre>
    </td>
</tr>

<tr>
  <td class="filename">./logs/config.status</td>
  <td>Generated by <code>./configure</code></td>
  <td><pre>#! /bin/bash
# Generated by configure.
# Run this file to recreate the current configuration.
# Compiler output produced by configure, useful for debugging
# configure, is in config.log if it exists.

debug=false
ac_cs_recheck=false
ac_cs_silent=false
...</pre></td>
</tr>

<tr>
  <td class="filename">./logs/config.h</td>
  <td>Generated by <code>./configure</code></td>
  <td><pre>/* config.h.  Generated from config.in by configure.  */
/* config.in.  Generated from configure.ac by autoheader.  */

/* Define to 1 if translation of program messages to the user's native
   language is requested. */
   #define ENABLE_NLS 1
...</pre></td>
</tr>


<tr>
  <td class="filename">./logs/make.log</td>
  <td>output of <code>make</code> (stdout+stderr)</td>
  <td><pre>make  all-recursive
make[1]: Entering directory `/tmp/hello-2.8.8fCee9/hello-2.8'
Making all in contrib
make[2]: Entering directory `/tmp/hello-2.8.8fCee9/hello-2.8/contrib'
make[2]: Nothing to be done for `all'.
make[2]: Leaving directory `/tmp/hello-2.8.8fCee9/hello-2.8/contrib'
Making all in lib
make[2]: Entering directory `/tmp/hello-2.8.8fCee9/hello-2.8/lib'
...</pre>
  </td>
</tr>

<tr>
  <td class="filename">./logs/make.ok</td>
  <td>Empty file, only exists if <code>make</code> succeeded
      (returned exit code 0)</td>
  <td></td>
</tr>

<tr>
  <td class="filename">./logs/make-check.log</td>
  <td>output of <code>make check</code> (stdout+stderr)</td>
  <td><pre>Making check in tests
make[1]: Entering directory `/tmp/hello-2.8.8fCee9/hello-2.8/tests'
make  check-TESTS
make[2]: Entering directory `/tmp/hello-2.8.8fCee9/hello-2.8/tests'
PASS: greeting-1
./greeting-2: Skipping test: not a full moon night
SKIP: greeting-2
PASS: hello-1
PASS: last-1
PASS: traditional-1
...</pre>
  </td>
</tr>

<tr>
  <td class="filename">./logs/make-check.ok</td>
  <td>Empty file, only exists if <code>make check</code> succeeded
      (returned exit code 0)</td>
  <td></td>
</tr>

<tr>
  <td class="filename">./logs/test-suite.0.log</td>
  <td>The test suite logs generated by <code>make check</code>.
      (NOTE: multiple files are possible)</td>
  <td><pre>================================================
GNU coreutils 8.24: ./tests/test-suite.log
================================================

# TOTAL: 579
# PASS:  432
# SKIP:  147
# XFAIL: 0
# FAIL:  0
# XPASS: 0
# ERROR: 0
...</pre></td>
</tr>

</table>

</body>
</html>
