body {
	padding-top: 1ex;
	padding-left: 1em;
	padding-right: 1em;
	font-family: Sans-Serif;
}
h2 {
	border-bottom: 1px solid #cccccc;
	color: black;
}
a {
	color: #4183C4;
}
pre {
	background: #F8F8F8;
	padding: 0.5em;
	 border-radius: 3px;
	border: 1px solid #cccccc;
}
code {
	background: #F8F8F8;
}
